section.media-text {
  .container {
    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 50%;

      .img-wrapper {
        width: 50%;

        img {
          padding: 1.5rem 0;
          object-fit: cover;
          border-radius: 10%;
        }
      }
    }

    .right {
      display: flex;
      flex-basis: 50%;
      flex-direction: column;

      .media-text__header {
        font-weight: var(--font-w800);
      }

      h1 {
        padding-bottom: 1rem;
      }

      .icon-wrapper {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 1rem 0;

        i {
          font-size: var(--text-xl);
          background-color: #202020;
          border-radius: 50%;
          padding: 0.5rem;
        }
      }

      .media-text__title {
        padding-top: 0.5rem;
      }

      .contact-wrapper {
        h2 {
          width: 50%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }
    }
  }
}
