section.usp-grid {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-bottom: 5rem;

    .usp-grid__inputs {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #202020;
      border-radius: 10%;
      width: 22%;
      padding: 3.5rem 0;

      i {
        font-size: var(--text-xl);
        padding-bottom: 2rem;
      }

      p {
        padding: 0.2rem 0;
      }
    }
  }
}
