body {
  overflow-x: hidden;
}
section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;

  .container {
    width: 90%;
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: var(--text-xxxl);
    }

    h2 {
      font-size: var(--text-xl);
    }

    h3,
    p {
      font-size: var(--text-md);
    }

    h1,
    h2,
    h3,
    p,
    a {
      font-family: var(--font-md);
      color: #fff;
      margin: 0;
      padding: 0;
    }
  }

  button {
    width: 15rem;
    height: 4rem;
    background-color: transparent;
    border: 0.3rem solid #fff;
    font-family: var(--font-md);
    font-size: var(--text-lg);
    font-weight: var(--font-w800);
    color: #fff;
    cursor: pointer;
  }

  button:hover {
    background-color: #fff;
    transition: all ease 0.7s;
  }
}
